@use "utils" as *;

.grid {
  @include lg {
    justify-content: center;
    align-items: flex-start;
    row-gap: 0px;
    column-gap: 0px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  column-gap: 24px;
  margin: 50px auto;
  position: relative;
  min-width: 0px;
  max-width: 1440px;
}
.grid__cell {
  @include mq-between(xxl, max) {
    margin-left: 0px;
  }
  @include xxl {
    margin-left: 0px;
  }
  @include lg {
    flex: 0 0 calc(0.9 / 1 * 100% - (1 - 0.9 / 1) * 0px);
  }
  @include xs {
    flex: 0 0 calc(0.95 / 1 * 100% - (1 - 0.95 / 1) * 0px);
  }
  flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 24px);
  @include flex-column;
  position: relative;
}
.box {
  position: relative;
  flex-grow: 1;
}
.component {
  width: 99.61%;
  position: relative;
  flex-grow: 1;
  max-width: 506px;
  margin: 50px auto;
}
