@use "utils" as *;

$color_type_0: rgb(127, 129, 128);
$color_type_1: rgb(232, 241, 254);
$color_type_2: rgb(24, 119, 242);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(4, 4, 3);
$color_type_5: rgb(5, 105, 239);

$border_radius_type_0: 23.5px 23.5px 23.5px 23.5px;

$font_type_0: 400 16px/1.93 "Poppins", Helvetica, Arial, serif;
$font_type_1: 400 16px/1.82 "Poppins", Helvetica, Arial, serif;

.group {
  @include flex-column;
  width: 100%;
  position: relative;
}
.root {
  @include flex-column;
  background-color: $color_type_3;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  min-height: 90px;
}
.wrapper {
  @include tn {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  margin: 22px 32px 0px;
}
.wrapper__cell {
  @include flex-column;
  position: relative;
  flex: 0 1 162px;
}
.image {
  width: 162px;
  height: auto;
  aspect-ratio: 4.15;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 162px;
}
.wrapper__spacer {
  @include tn {
    flex: 0 0 24px;
    min-width: 24px;
  }
  @include flex-column;
  position: relative;
  flex: 1 1 603px;
}
.wrapper__cell1 {
  @include flex-column;
  position: relative;
  flex: 0 1 139px;
}
.wrapper1 {
  @include xxs {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 4px 0px;
}
.wrapper1__cell {
  @include flex-column;
  position: relative;
  flex: 0 1 89px;
}
.wrapper2 {
  position: relative;
  flex-grow: 1;
}
.wrapper1__spacer {
  @include xxs {
    flex: 0 0 16px;
    min-width: 16px;
  }
  @include tn {
    flex: 0 0 26px;
    min-width: 26px;
  }
  @include flex-column;
  position: relative;
  flex: 0 0 26px;
  min-width: 26px;
}
.wrapper1__cell1 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.image2 {
  width: 24px;
  height: auto;
  aspect-ratio: 1.26;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 24px;
  margin: 6px 0px;
}
.wrapper3 {
  @include flex-column;
  width: 145px;
  position: relative;
  min-width: 145px;
  margin: 50px auto 53px;
  height: 100vh;
  display: none;
}
.wrapper4 {
  @include lg {
    margin: 0px 15px 0px 12px;
  }
  @include md {
    margin: 0px 8px 0px 12px;
  }
  @include sm {
    margin: 0px 8px;
  }
  @include tn {
    margin: 0px 4px 0px 8px;
  }
  @include flex-column;
  position: relative;
  margin: 0px 15px 0px 16px;
}
.wrapper4__cell {
  @include flex-column;
  position: relative;
  flex: 0 0 31px;
  min-height: 31px;
}
.highlights1 {
  @include lg {
    font-size: 12px;
    text-align: center;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_0, $color_type_2, 0px);
  width: 100%;
  font-size: 16px !important;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px;
}
.wrapper4__cell1 {
  @include flex-column;
  position: relative;
  flex: 0 0 50px;
  min-height: 50px;
}
.highlights2 {
  @include lg {
    font-size: 12px;
    text-align: center;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_0, $color_type_0, 0px);
  font-size: 16px !important;
  position: relative;
  flex-grow: 1;
  margin: 19px 0px 0px;
}
.highlights21 {
  @include lg {
    font-size: 12px;
    text-align: center;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_0, $color_type_0, 0px);
  width: 100%;
  font-size: 16px !important;
  position: relative;
  flex-grow: 1;
  margin: 19px 0px 0px;
}
.wrapper5 {
  @include flex-column;
  position: relative;
  margin: 36px 0px 0px;
}
.wrapper5__cell {
  @include flex-column;
  position: relative;
}
.btn {
  @include md {
    margin: 0px;
  }
  @include flex-column;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(222, 222, 222);
  outline-offset: -1px;
  width: fit-content;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  min-width: 0px;
}
.btn__text {
  @include md {
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  width: 50px;
  height: auto;
  position: relative;
  min-width: 50px;
  margin: 8px 47.5px;
}
.btn1 {
  @include flex-column;
  background-color: $color_type_1;
  border-radius: $border_radius_type_0;
  width: 145px;
  height: auto;
  cursor: pointer;
  position: relative;
  min-width: 145px;
  margin: 17px 0px 0px;
}
.btn__text1 {
  @include md {
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_5;
  text-align: center;
  letter-spacing: 0px;
  width: 97px;
  height: auto;
  position: relative;
  min-width: 97px;
  margin: 8px 24px;
}
