@use "utils" as *;

$color_type_0: rgb(0, 0, 0);

$font_type_0: 600 40px/1.72 "Poppins", Helvetica, Arial, serif;

.root {
  @include flex-column;
  position: relative;
  min-height: 904px;
  min-width: 0px;
  max-width: 1400px;
  margin: 0px auto;
}
.flexCol {
  @include sm {
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 0px;
  }
  @include xs {
    align-items: start;
  }
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 31px;
}
.flexCol__cell {
  @include sm {
    flex: 0 1 auto;
    min-height: unset;
  }
  @include flex-column;
  position: relative;
}
.flexRow {
  @include mq-between(xl, xxl) {
    justify-content: flex-start;
    align-items: center;
    column-gap: 98px;
  }
  @include md {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 16px;
    column-gap: 16px;
  }
  @include sm {
    align-items: center;
  }
  @include xs {
    align-items: start;
  }
  display: flex;
  align-items: center;
  column-gap: 98px;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 0px 1px;
}
.flexRow__cell {
  @include mq-between(xl, xxl) {
    flex: 0 0 auto;
    min-width: 0px;
  }
  @include md {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 0 323px;
  min-width: 323px;
}
.hero_title {
  @include xs {
    font-size: 30px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
}
.flexRow__cell1 {
  @include mq-between(xl, xxl) {
    flex: 1 1 863px;
    min-width: unset;
  }
  @include md {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 863px;
}
.box6 {
  position: relative;
  flex-grow: 1;
  margin: 11px 0px 4px;
}
.flexCol__cell1 {
  @include sm {
    flex: 0 1 auto;
    min-height: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 721px;
}
.list {
  @include sm {
    justify-content: center;
    align-items: start;
    column-gap: 16px;
  }
  @include xs {
    column-gap: 4px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: flex-start;
  row-gap: 16px;
  column-gap: 16px;
  position: relative;
  flex-grow: 1;
  margin: 38px 0px 0px;
}
.list__cell {
  @include sm {
    flex: 0 1 auto;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 413px;
}
.box5 {
  box-shadow: 6px 6px 35px 0px rgba(0, 0, 0, 0.149);
  position: relative;
  flex-grow: 1;
}
.list__cell1 {
  @include sm {
    flex: 0 1 auto;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
}
.box1 {
  position: relative;
  flex-grow: 1;
}
