@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(113, 113, 113);
$color_type_2: rgb(232, 241, 254);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(5, 105, 239);

$border_radius_type_0: 23.5px 23.5px 23.5px 23.5px;
$border_radius_type_1: 33.5px 33.5px 33.5px 33.5px;
$border_radius_type_2: 44.5px 44.5px 44.5px 44.5px;
$border_radius_type_3: 47.5px 47.5px 47.5px 47.5px;
$border_radius_type_4: 52.5px 52.5px 52.5px 52.5px;

$font_type_0: 600 52px/1.25 "Poppins", Helvetica, Arial, serif;
$font_type_1: 400 17px/1.82 "Poppins", Helvetica, Arial, serif;
$font_type_2: 400 16px/1.56 "Poppins", Helvetica, Arial, serif;

.section7 {
  @include flex-column;
  background-color: $color_type_2;
  position: relative;
  min-height: 461px;
}
.box4 {
  @include flex-column;
  background-color: $color_type_2;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.icon4 {
  @include md {
    display: none;
  }
  border-radius: $border_radius_type_4;
  width: 105px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  bottom: 51px;
  left: 90px;
}
.icon6 {
  @include md {
    top: 42px;
    left: 14px;
    display: none;
  }
  border-radius: $border_radius_type_3;
  width: 95px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 50px;
  left: 47px;
}
.icon5 {
  @include md {
    display: none;
  }
  border-radius: $border_radius_type_1;
  width: 67px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 197px;
  right: 119px;
}
.icon7 {
  @include xl {
    top: -4px;
    display: flex;
  }
  @include md {
    display: none;
  }
  border-radius: $border_radius_type_2;
  width: 89px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 27px;
  right: 191px;
}
.icon71 {
  @include xl {
    top: 358px;
    right: 251px;
    display: flex;
  }
  @include lg {
    top: 454px;
  }
  @include md {
    top: 359px;
    right: 205px;
    display: none;
  }
  border-radius: $border_radius_type_2;
  width: 89px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 297px;
  right: 280px;
}
.flexCol {
  @include mq-between(xxl, xxxl);
  @include sm {
    width: 80%;
  }
  @include tn {
    width: 88.89%;
  }
  @include flex-column;
  width: 57.39%;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  max-width: 827px;
  margin: 70px auto 56px;
}
.hero_title3 {
  @include md {
    text-align: left;
    justify-content: flex-start;
  }
  @include xxs {
    font-size: 40px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
}
.highlights8 {
  @include md {
    text-align: justify;
  }
  @include xs {
    text-align: left;
    justify-content: flex-start;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  position: relative;
  margin: 27px 0px 0px;
}
.btn {
  @include flex-column;
  background-color: $color_type_4;
  border-radius: $border_radius_type_0;
  width: 22.85%;
  height: auto;
  cursor: pointer;
  position: relative;
  min-width: 189px;
  margin: 31px auto 0px;
}
.btn__text {
  @include v-center-content;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_3;
  text-align: center;
  letter-spacing: 0px;
  height: auto;
  position: relative;
  margin: 8px 0px;
}
