@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(5, 105, 239);

$border_radius_type_0: 10px 10px 10px 10px;

$font_type_0: 600 40px/1.72 "Poppins", Helvetica, Arial, serif;

.section4 {
  @include flex-column;
  margin: 0 auto;
  position: relative;
  min-width: 0px;
  max-width: 1440px;
}
.hero_title2 {
  @include lg {
    font-size: 36px;
    text-align: left;
  }
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 28px;
  }
  @include xs {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-width: 0px;
    margin: 49px 0px 0px;
  }
  @include tn {
    font-size: 20px;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_0, $color_type_0, -0.2px);
  width: 23.54%;
  position: relative;
  min-width: 339px;
  margin: 49px 70.83% 0px 5.63%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: flex-start;
  row-gap: 16px;
  column-gap: 16px;
  width: 89.03%;
  position: relative;
  flex: 1 1 auto;
  margin: 60px auto 57px;
}
.grid__cell {
  @include flex-column;
  position: relative;
  flex: 0 0 227px;
}
.image12 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image121 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.img {
  outline-style: solid;
  outline-color: $color_type_1;
  outline-width: 0px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image122 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image123 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image124 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image125 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image126 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image127 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.image128 {
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(226, 226, 226);
  outline-offset: -1px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.18;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
