@use "utils" as *;

$color_type_0: transparent;
$color_type_1: rgb(0, 0, 0);
$color_type_2: rgb(255, 255, 255);

$padding_type_0: 0px;

$border_type_0: 0px;

$border_radius_type_0: 27px 27px 27px 27px;

$font_type_0: 16px/3 Arial, Helvetica, Arial, serif;

.box4 {
  @include v-center-content;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1.5px solid rgb(217, 217, 217);
  outline-offset: -1.5px;
  position: relative;
  overflow: hidden;
}
.box4__cell {
  @include flex-column;
  position: relative;
  flex: 1 1 792.2646464000002px;
}
.search_input {
  @include font-face($font_type_0, $color_type_1, 0px);
  background-color: $color_type_0;
  padding: $padding_type_0;
  border: $border_type_0;
  width: 100%;
  vertical-align: top;
}
.search_input:focus {
  outline: none;
}
.search_input_box {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 0px 34.26px;
}
.box4__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 21.74px;
}
.box4__cell1 {
  @include flex-column;
  position: relative;
  flex: 0 1 49px;
}
.icon {
  width: 44px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 44px;
  margin: 5px 5px 5px 0px;
}
