@use "utils" as *;

$color_type_0: rgb(255, 255, 255);

$padding_type_0: undefinedpx undefinedpx undefinedpx undefinedpx;

.main {
  @include flex-column;
  background-color: $color_type_0;
  padding: $padding_type_0;
  position: relative;
  overflow: hidden;
}
.section1 {
  position: relative;
  margin: 90px 0px 0px;
}
.section2 {
  position: relative;
}
.main__item {
  @include flex-column;
  position: relative;
}
.section4 {
  position: relative;
}
.section5 {
  position: relative;
}
.section6 {
  position: relative;
}
.section7 {
  position: relative;
}
.section8 {
  position: relative;
}
