@use "utils" as *;

$color_type_0: white;
$color_type_1: rgb(0, 0, 0);
$color_type_2: rgb(107, 107, 109);
$color_type_3: rgb(230, 230, 230);
$color_type_4: rgb(24, 184, 31);
$color_type_5: rgb(255, 255, 255);
$color_type_6: rgb(5, 105, 239);

$padding_type_0: 76px 0px 0px 0px;

$border_radius_type_0: 15px 15px 15px 15px;
$border_radius_type_1: 23.5px 23.5px 23.5px 23.5px;
$border_radius_type_2: 81px 81px 81px 81px;

$font_type_0: 500 28px/1.07 "Roboto", Helvetica, Arial, serif;
$font_type_1: 600 24px/2.87 "Roboto", Helvetica, Arial, serif;
$font_type_2: 400 20px/3.45 "Roboto", Helvetica, Arial, serif;
$font_type_3: 500 20px/1.5 "Roboto", Helvetica, Arial, serif;
$font_type_4: 400 17px/1.82 "Poppins", Helvetica, Arial, serif;
$font_type_5: 500 16px/1.87 "Roboto", Helvetica, Arial, serif;

.root {
  @include lg {
    height: 100%;
  }
  @include flex-column;
  position: relative;
  min-height: 571px;
}
.group {
  @include lg {
    min-height: 830px;
    margin-bottom: 80px;
  }
  @include xs {
    min-height: 900px;
  }
  @include tn {
    min-height: 980px;
  }
  @include flex-column;
  width: 100%;
  height: 100%;
}
.image {
  @include xl {
    object-fit: cover;
  }
  @include xs {
    object-position: 0% center;
    height: 400px;
  }
  width: 100%;
  height: 253px;
  vertical-align: top;
  object-fit: auto;
  object-position: center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 0px 318px;
}
.grid {
  @include xl {
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0px;
    column-gap: 16px;
  }
  @include lg {
    justify-content: center;
    align-items: stretch;
    row-gap: 50px;
    column-gap: 24px;
    width: 87.42%;
  }
  @include tn {
    width: 99.22%;
  }
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 24px;
  width: 88.82%;
  position: absolute;
  top: 98px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.grid__item {
  @include mq-between(xxl, max) {
    margin-left: 0px;
  }
  @include xxl {
    margin-left: 0px;
  }
  @include xl {
    flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 16px);
  }
  @include lg {
    flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 24px);
  }
  flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * 24px);
  @include flex-column;
  position: relative;
}
.flexRow {
  @include xl {
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    margin: 0px;
  }
  @include lg {
    justify-content: center;
  }
  @include xs {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 16px;
    margin: 0px 1px;
  }
  display: flex;
  align-items: center;
  column-gap: 16px;
  height: auto;
  padding: $padding_type_0;
  position: relative;
}
.flexRow__item {
  @include xl {
    flex: 0 1 162px;
    min-width: unset;
  }
  @include lg {
    flex: 0 1 auto;
  }
  @include xs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include xxs {
    flex: 1 1 calc(100% - 0px);
    margin-left: 0px;
  }
  @include flex-column;
  position: relative;
}
.image1 {
  @include xs {
    margin: 0px auto;
  }
  border-radius: $border_radius_type_2;
  outline: 11px solid rgb(255, 255, 255);
  width: 162px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 162px;
}
.flexRow__item1 {
  @include lg {
    flex: 0 1 auto;
    min-width: unset;
  }
  @include xs {
    flex: 0 0 calc(1 / 1 * 100% - 16px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 397.25px;
}
.flexRow1 {
  @include lg {
    min-height: 700p;
    flex-direction: column;
    color: $color_type_0;
    margin: 2px 59px 0px 0px;
  }
  @include xs {
    justify-content: center;
    align-items: center;
    column-gap: 17.249315600000273px;
    justify-items: center;
    margin: 2px 0px 0px;
  }
  display: grid;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
  column-gap: 17.249315600000273px;
  position: relative;
  flex-grow: 1;
}
.flexRow1__item {
  @include xs {
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 142px;
}
.medium_title {
  @include lg {
    text-align: left;
    justify-content: flex-start;
  }
  @include xl {
    color: $color_type_0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_5;
  text-align: center;
  letter-spacing: -0.1px;
  width: 100%;
  height: 100%;
}
.flexRow1__item1 {
  @include xs {
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 238px;
}
.subtitle {
  @include lg {
    text-align: left;
    justify-content: flex-start;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.content_box {
  @include lg {
    min-width: 465px;
    margin: 0px;
  }
  @include xxs {
    min-width: 365px;
  }
  @include tn {
    min-width: 310px;
  }
  @include flex-column;
  background-color: $color_type_5;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(227, 227, 227);
  outline-offset: -1px;
  height: auto;
  box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.066);
  position: relative;
  min-width: 310px;
  max-width: 465px;
}
.flexRow2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;
  position: relative;
  margin: 32px 32px 0px;
}
.flexRow2__item {
  @include flex-column;
  position: relative;
}
.flexCol {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.title {
  @include h-center-content;
  font: $font_type_0;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  margin: 0px 10px;
}
.highlights1 {
  @include h-center-content;
  font: $font_type_5;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  margin: 8px 0px 0px;
}
.title1 {
  @include md;
  display: flex;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  margin: 0px 20px;
}
.title2 {
  @include h-center-content;
  font: $font_type_0;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  margin: 0px 2px;
}
.line {
  background-color: $color_type_3;
  height: 2px;
  position: relative;
  margin: 20px 32px 0px;
}
.flexCol1 {
  @include flex-column;
  width: 100%;
  height: 100%;
}
.medium_title1 {
  @include v-center-content;
  @include font-face($font_type_1, $color_type_1, -0.1px);
  width: 100%;
  position: relative;
  margin: 0px 0px;
}
.flexRow3 {
  @include v-center-content;
  column-gap: 16px;
  position: relative;
  margin: 4px 0px 0px 2px;
}
.highlights11 {
  @include h-center-content;
  font: $font_type_5;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 152px;
}
.subtitle1 {
  @include h-center-content;
  font: $font_type_3;
  color: $color_type_4;
  text-align: center;
  letter-spacing: -0.1px;
  position: relative;
  flex: 0 0 auto;
  min-width: 99px;
}
.flexRow4 {
  @include v-center-content;
  position: relative;
  margin: 18px 0px 0px;
}
.highlights12 {
  @include h-center-content;
  font: $font_type_5;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 125px;
}
.flexRow4__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 45px;
}
.flexRow4__spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 45px;
}
.line1 {
  background-color: $color_type_3;
  height: 2px;
  position: relative;
  margin: 40px 32px 0px;
}
.flexRow5 {
  @include v-center-content;
  position: relative;
  margin: 28px 32px 27px;
}
.content_box1 {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: $border_radius_type_1;
  position: relative;
  flex: 0 1 206px;
}
.highlights {
  @include v-center-content;
  justify-content: center;
  font: $font_type_4;
  color: $color_type_5;
  text-align: center;
  letter-spacing: 0px;
  width: 111px;
  position: relative;
  flex-grow: 1;
  min-width: 111px;
  margin: 8px auto;
}
.flexRow5__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 59px;
}
.flexRow6 {
  @include v-center-content;
  position: relative;
  flex: 0 1 136px;
  margin: 13px 0px 12px;
}
.flexRow6__item {
  @include flex-column;
  position: relative;
  flex: 0 1 32px;
}
.image2 {
  width: 32px;
  height: auto;
  aspect-ratio: 1.45;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 32px;
}
.flexRow6__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 25px;
}
.flexRow6__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 25px;
}
.image3 {
  width: 25px;
  height: auto;
  aspect-ratio: 1.14;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 25px;
}
.flexRow6__item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 29px;
}
.image4 {
  width: 29px;
  height: auto;
  aspect-ratio: 1.32;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 29px;
}
