@use "components/utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(157, 157, 157);
$color_type_2: rgb(242, 242, 242);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(6, 105, 239);

$padding_type_0: 20px;
$padding_type_1: 8px 24px 8px 24px;

$border_radius_type_0: 23.5px 23.5px 23.5px 23.5px;
$border_radius_type_1: 30px 30px 30px 30px;

$font_type_0: 600 32px/2.15 "Poppins", Helvetica, Arial, serif;
$font_type_1: 600 24px/1.29 "Poppins", Helvetica, Arial, serif;
$font_type_2: 400 17px/1.82 "Poppins", Helvetica, Arial, serif;
$font_type_3: 500 16px/1.93 "Poppins", Helvetica, Arial, serif;

.root {
  @include flex-column;
  margin-top: 100px;
  position: relative;
}
.root__item {
  @include flex-column;
  position: relative;
}
.image {
  width: calc(100% - 1px);
  height: auto;
  aspect-ratio: 11.08;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  margin: 0px 1px 0px 0px;
}
.wrapper {
  @include md {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding_type_0;
  position: relative;
}
.wrapper__item {
  @include md {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 834px;
}
.wrapper1 {
  @include flex-column;
  width: 100%;
  height: 100%;
}
.wrapper2 {
  @include md {
    width: 90.92%;
  }
  @include sm {
    width: 93.03%;
  }
  @include xs {
    width: 94.68%;
  }
  @include xxs {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 16px;
    width: 95.96%;
  }
  @include tn {
    width: 96.94%;
  }
  display: flex;
  align-items: center;
  width: 88.25%;
  position: relative;
  margin: 0px auto;
}
.wrapper2__item {
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 284px;
}
.wrapper3 {
  @include v-center-content;
  position: relative;
  flex-grow: 1;
}
.wrapper3__item {
  @include flex-column;
  position: relative;
  flex: 0 1 60px;
}
.icon {
  border-radius: $border_radius_type_1;
  width: 60px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
  min-width: 60px;
  margin: 4px 0px 5px;
}
.wrapper3__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 14px;
}
.title {
  @include lg {
    font-size: 28px;
  }
  @include md {
    font-size: 24px;
  }
  @include sm {
    font-size: 20px;
  }
  @include tn {
    font-size: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: -0.1px;
  position: relative;
  flex: 0 0 auto;
  min-width: 210px;
}
.wrapper2__spacer {
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 289px;
}
.wrapper2__item1 {
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 163px;
}
.box {
  @include xxs {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  background-color: $color_type_4;
  border-radius: $border_radius_type_0;
  padding: $padding_type_1;
  position: relative;
  flex-grow: 1;
  margin: 11px 0px;
}
.box__item {
  @include xxs {
    flex: 1 1 115px;
  }
  @include flex-column;
  position: relative;
  flex: 0 0 115px;
  min-width: 115px;
}
.highlights {
  @include md {
    font-size: 12px;
    margin: 0px 12px;
  }
  @include sm {
    margin: 0px 8px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_3;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
  margin: 0px 18px;
}
.line {
  background-color: $color_type_2;
  height: 2px;
  position: relative;
  margin: 30px 0px 0px;
}
.wrapper4 {
  @include md {
    width: 90.92%;
  }
  @include sm {
    width: 93.03%;
  }
  @include xs {
    width: 94.68%;
  }
  @include xxs {
    width: 95.96%;
  }
  @include tn {
    width: 96.94%;
  }
  @include flex-column;
  width: 88.25%;
  position: relative;
  margin: 30px auto 0px;
}
.wrapper5 {
  @include flex-column;
  position: relative;
}
.wrapper5__item {
  @include flex-column;
  position: relative;
}
.medium_title {
  @include lg {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: fit-content;
  position: relative;
  flex-grow: 1;
  min-width: 0px;
  margin: 0px auto 0px 0px;
}
.wrapper5__item1 {
  @include flex-column;
  position: relative;
  flex: 0 0 61px;
  min-height: 61px;
}
.rect {
  position: relative;
  flex-grow: 1;
  margin: 15px 0px 0px;
}
.wrapper6 {
  @include flex-column;
  position: relative;
  margin: 34px 0px 0px;
}
.wrapper6__item {
  @include flex-column;
  position: relative;
}
.medium_title1 {
  @include lg {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_0;
  text-align: center;
  letter-spacing: -0.1px;
  width: fit-content;
  position: relative;
  flex-grow: 1;
  min-width: 0px;
  margin: 0px auto 0px 0px;
}
.wrapper6__item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 400px;
}
.rect1 {
  position: relative;
  flex-grow: 1;
  min-height: 468px;
  margin: 13px 0px 0px;
}
.wrapper__spacer {
  @include md {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 2px;
}
.wrapper__item1 {
  @include md {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 605px;
}
.wrapper7 {
  @include md {
    margin: 0px 40px;
  }
  @include xxs {
    margin: 0px;
  }
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper8 {
  @include md {
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 0px;
    width: 100%;
    margin: 0px 0px;
  }
  @include flex-column;
  width: 86.61%;
  position: relative;
  margin: 0px auto;
}
.wrapper8__item {
  @include md {
    flex: 0 0 31px;
    min-height: unset;
  }
  @include flex-column;
  position: relative;
}
.wrapper8__item1 {
  @include flex-column;
  position: relative;
}
.wrapper9 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  @include xxs {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 25px 0px 0px;
}
.wrapper9__item {
  @include md {
    flex: 1 1 244px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 244px;
}
.wrapper10 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.highlights1 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_0, -0.1px);
  position: relative;
}
.box1 {
  position: relative;
  min-height: 35px;
  margin: 8px 0px 0px;
}
.wrapper9__spacer {
  @include md {
    flex: 0 0 36px;
    min-width: unset;
  }
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
}
.wrapper11 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  @include xxs {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 25px 0px 0px;
}
.wrapper11__item {
  @include md {
    flex: 1 1 244px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 244px;
}
.wrapper12 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper121 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.highlights11 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_0, -0.2px);
  position: relative;
}
.wrapper13 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0px 0px;
}
.wrapper13__item {
  @include md {
    flex: 1 1 156px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 156px;
}
.box2 {
  position: relative;
  flex-grow: 1;
  min-height: 35px;
}
.wrapper13__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.wrapper13__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.box3 {
  position: relative;
  flex-grow: 1;
  min-height: 35px;
}
.wrapper11__spacer {
  @include md {
    flex: 0 0 36px;
    min-width: unset;
  }
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
}
.wrapper14 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  @include xxs {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 25px 0px 0px;
}
.wrapper14__item {
  @include md {
    flex: 1 1 244px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 244px;
}
.highlights12 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_0, 0px);
  position: relative;
}
.wrapper13__item2 {
  @include md {
    flex: 1 1 156px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 156px;
}
.wrapper13__spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.wrapper13__item3 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.wrapper14__spacer {
  @include md {
    flex: 0 0 36px;
    min-width: unset;
  }
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
}
.wrapper13__item4 {
  @include md {
    flex: 1 1 156px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 156px;
}
.wrapper13__spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.wrapper13__item5 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.line1 {
  background-color: $color_type_2;
  height: 2px;
  position: relative;
  margin: 36px 0px 0px;
}
.wrapper15 {
  @include lg {
    margin: 36px 28px 0px;
  }
  @include md {
    margin: 36px 0px 0px;
  }
  @include tn {
    margin: 36px 12px 0px 0px;
  }
  @include flex-column;
  position: relative;
  margin: 36px 34px 0px 35px;
}
.wrapper16 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    margin: 0px 2px 0px 0px;
  }
  @include xxs {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper16__item {
  @include md {
    flex: 1 1 266px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 266px;
}
.wrapper17 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper18 {
  @include flex-column;
  position: relative;
}
.wrapper18__item {
  @include flex-column;
  position: relative;
}
.wrapper19 {
  height: auto;
  aspect-ratio: 5.32;
  background: var(--src) center center / cover no-repeat;
  position: relative;
  margin: 8px 0px 0px;
}
.wrapper20 {
  @include xxs {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0px 0px;
}
.wrapper20__item {
  @include xxs {
    flex: 1 1 92px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 92px;
}
.box4 {
  position: relative;
  flex-grow: 1;
  min-height: 35px;
}
.wrapper20__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.wrapper20__item1 {
  @include flex-column;
  position: relative;
  flex: 0 0 17px;
  min-width: 17px;
}
.highlights2 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_1, 0px);
  position: relative;
  flex-grow: 1;
  margin: 2px 0px;
}
.wrapper16__spacer {
  @include md {
    flex: 0 1 36px;
    min-width: unset;
  }
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 14px;
}
.wrapper16__item1 {
  @include md {
    flex: 1 1 256px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 256px;
}
.wrapper21 {
  @include md {
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 0px;
  }
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper21__item {
  @include md {
    flex: 1 1 auto;
    min-height: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 89px;
}
.wrapper22 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper22__item {
  @include flex-column;
  position: relative;
}
.wrapper23 {
  height: auto;
  aspect-ratio: 5.12;
  background: var(--src) center center / cover no-repeat;
  position: relative;
  margin: 8px 0px 0px;
}
.wrapper21__item1 {
  @include md {
    flex: 1 1 auto;
    min-height: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 43px;
}
.wrapper201 {
  @include xxs {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  margin: 8px 0px 0px;
}
.wrapper201__item {
  @include xxs {
    flex: 1 1 92px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 92px;
}
.wrapper201__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.wrapper201__item1 {
  @include flex-column;
  position: relative;
  flex: 0 0 17px;
  min-width: 17px;
}
.wrapper24 {
  @include md {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  @include xxs {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
  display: flex;
  align-items: center;
  position: relative;
  margin: 24px 0px 0px;
}
.wrapper24__item {
  @include md {
    flex: 1 1 244px;
    min-width: unset;
  }
  @include xxs {
    flex: 0 0 calc(1 / 1 * 100% - 0px / 1);
  }
  @include flex-column;
  position: relative;
  flex: 0 1 244px;
}
.wrapper25 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper26 {
  @include v-center-content;
  position: relative;
}
.highlights13 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_0, 0px);
  position: relative;
  flex: 0 0 auto;
  min-width: 77px;
}
.wrapper26__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 98px;
}
.highlights14 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_0, 0px);
  position: relative;
  flex: 0 0 auto;
  min-width: 47px;
}
.wrapper131 {
  @include xxs {
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0px 0px;
}
.wrapper131__item {
  @include xxs {
    flex: 1 1 156px;
    min-width: unset;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 156px;
}
.wrapper131__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.wrapper131__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 76px;
}
.wrapper24__spacer {
  @include xxs {
    display: none;
  }
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
}
.line2 {
  background-color: $color_type_2;
  height: 2px;
  position: relative;
  margin: 36px 0px 0px 1px;
}
.wrapper27 {
  @include lg {
    margin: 0px 24px;
  }
  @include md {
    margin: 0px;
  }
  @include flex-column;
  position: relative;
  margin: 0px 29px;
}
.select {
  position: relative;
  min-height: 41px;
  margin: 14px 0px 0px;
}
