@use "components/utils" as *;

$color_type_0: rgb(255, 255, 255);

$padding_type_0: undefinedpx undefinedpx undefinedpx undefinedpx;

.main {
  @include mq-between(xxl, xxxl) {
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 0px;
  }
  @include flex-column;
  background-color: $color_type_0;
  padding: $padding_type_0;
  position: relative;
  overflow: hidden;
}
.main__item {
  @include flex-column;
  position: relative;
}
.section1 {
  position: relative;
  flex-grow: 1;
  margin: 90px 0px 0px;
}
.section2 {
  @include mq-between(xxl, xxxl);
  width: 100%;
  position: relative;
  flex-grow: 1;
  margin: 60px 0px 0px;
}
.section3 {
  @include mq-between(xxl, max);
  position: relative;
  flex-grow: 1;
  margin: 30px 0px 0px;
}
.section4 {
  @include mq-between(xxl, max);
  position: relative;
  flex-grow: 1;
  margin: 30px 0px 0px;
}
.section5 {
  position: relative;
  flex-grow: 1;
}
.section6 {
  position: relative;
  flex-grow: 1;
}
.section7 {
  position: relative;
  flex-grow: 1;
}
.section8 {
  position: relative;
  flex-grow: 1;
}
